{% extends 'base.html' %}
{% load static %}

{% block title %}Bot log{% endblock %}

{% block headers %}
    <style>
        .text_red {
            background-color: #ffffff;
            color: #ff0000;
        }
        .text_green {
            background-color: #ffffff;
            color: #23aa00;
        }
    </style>
{% endblock %}

{% block body_class %}text-center{% endblock %}

{% block content %}
    Log: ENGINE INFO-LOG
    <br>
    {% if bot_id %}
        Bot id: {{ bot_id }}
    {% else %}
        Bot id: ALL
    {% endif %}
    <br>
    <br>
    {% for line in log %}
        {% if '[info]' in line %}
            <span class="text_green">{{ line }}</span>
        {% elif '[error]' in line %}
            <span class="text_red">{{ line }}</span>
        {% else %}
            {{ line }}
        {% endif %}
        <br>
    {% endfor %}

    <footer class="container">
        <p class="mt-5 mb-3 text-muted">© FC Tools 2020-2021</p>
    </footer>
{% endblock %}