{% extends 'base.html' %}
{% load static %}

{% block title %}Bot log{% endblock %}

{% block headers %}
    <style>
        .text_red {
            background-color: #ffffff;
            color: #ff0000;
        }
    </style>
{% endblock %}

{% block body_class %}text-center{% endblock %}

{% block content %}
    <form class="form-count" method="post">
        {% csrf_token %}
        <input type="hidden" name="next" value="">

        {{ form.as_p }}

        <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
    </form>

    <br>
    {% if log_type %}
        Log: {{ log_type }}
    {% else %}
        Log: -
    {% endif %}

    <br>
    {% if bot_id %}
        Bot id: {{ bot_id }}
    {% else %}
        Bot id: ALL
    {% endif %}
    <br>
    <br>
    {% for line in log %}
        {% if '[error]' in line %}
            <span class="text_red">{{ line }}</span>
        {% else %}
            {{ line }}
        {% endif %}
        <br>
    {% endfor %}

    <footer class="container">
        <p class="mt-5 mb-3 text-muted">© FC Tools 2020-2021</p>
    </footer>
{% endblock %}